.card {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background: #2196F3;
  border: none;
  color: #FFF;
}

.btn-primary:hover {
  background: #1976D2;
}