html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* Global */
a {
  color: #2196F3;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #1976D2;
  text-decoration: none;
}

/* Header */
.navbar-default {
  background: #2196F3;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  transition: 0.2s;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #E0E0E1;
}

.navbar-default .btn-login {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0;
  background: #FF9800;
}

.navbar-default .navbar-nav > li > a.btn-login:hover,
.navbar-default .navbar-nav > li > a.btn-login:active,
.navbar-default .navbar-nav > li > a.btn-login:focus {
  background: #BB7700;
}

/* Section */
.section {
  margin: 32px 0 48px;
}

.section__h3 {
  margin: 0 0 16px;
  padding-left: 20px;
  border-left: 5px solid #2196F3;
}


/* Banner */
.section.banner {
  margin-top: 0;
}

.banner__img {
  width: 100%;
}

/* Flash Sale */
.flash-card {
  width: 20%;
  float: left;
}

.flash-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.flash-card-detail {
  padding: 8px;
}

.flash-card__h4 {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.flash-card__price {
  font-size: 14px;
  font-weight: 600;
  color: #FF9800;
}

.flash-card__btn {
  width: 100%;
}

/* Hot List */
.hot-card-detail {
  padding: 16px;
}

.hot-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hot-card__p {
  margin: 4px 0;
  font-size: 12px;
  text-align: center;
}

.hot-card__p--gray {
  color: #BDBDBD;
}

.hot-card__price {
  color: #FF9800;
}